@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: #fff;
    transition: 0.5s;
}

.banner ::before {
    content: '';
    position: absolute;
    top: 10;
    left: 30%;
    width: 10%;
    height: 10%;
    background: url(vecteezy.png);
    background-size: cover;
    animation: animateColors 10s ease-in-out infinite;
    animation-delay: -5s;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

header .logo {
    color: #333;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
}

header .logo span {
    color: #2196f2;
}

header ul {
    display: flex;
    gap: 40px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.5s;

}

.content {
    position: relative;
    max-width: 850px;
    z-index: 10;
    text-align: left;
}

.content h3 {
    color: #333;
    font-size: 2rem;
    font-weight: 200;
    transition: 0.5s;

}

.content h2 {
    color: #333;
    font-size: 4.5rem;
    font-weight: 700;
    transition: 0.5s;
}

.content h2 span {
    color: #2196f2;
}

.content p {
    color: #666;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 10px 0;
    transition: 0.5s;
}

.content button {
    position: relative;
    background: #2196f2;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 35px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.content button.chat {
    background: transparent;
    color: #333;
}

.content button.chat ion-icon {
    position: relative;
    color: #2196f2;
    top: 5px;
    font-size: 1.5rem;
}

.sci {
    position: absolute;
    display: flex;
    bottom: 30px;
    gap: 20px;
}

.sci li {
    list-style-type: none;
}

.sci li a {
    color: #333;
    font-size: 1.75rem;
    text-decoration: none;
    transition: 0.5s;
}

.sci li a:hover {
    color: #2196f2;
}

.colors {
    position: absolute;
    right: 0;
    width: 400px;
    height: 400px;
    animation: animateColors 8s ease-in-out infinite;
}

@keyframes animateColors {

    0%,
    100% {
        transform: translateX(0px);
    }

    50% {
        transform: translateY(50px);
    }
}